

div(class="products")

    if form
        h2(style="color:black")="Añade al carrito con un click!"
        
    else
        a(href="/api/")
            h1(style="color:black")="Registrar nuevo producto"
    
    
    div(id="cardRow")


        if products
            each product in products
                - var data = {product:product, userid:user.id}
                div(class="card" id=data onClick="addToCart(this.id)")
                    img(src=product["thumbnail"] || "https://i.ibb.co/6nDS7nX/goose.jpg" style="width:100%")
                    h2=product["title"]
                    h3(class="price")="$" + product["price"]

if !form
    style(type="text/css").
        
        .products {
            background-color: transparent;
            width: 100%;
        }
        
        .card {
            width: 15%;
        }

        #cardRow {
            overflow: hidden;
            height: 100%;
        }
        
        @media screen and (max-width: 600px) {

            #cardRow {
                margin: 15px;
                display: block;
            }

            .card {
                width: 90%;
            }
            
        }